--
-- PostgreSQL database dump
--

\restrict jHLbvyxPcfbAPyDWBTwHrfYp7E6g2bfpaLFYL1EPJppN6IMZjzQDRqpsrm5eMS5

-- Dumped from database version 18.3
-- Dumped by pg_dump version 18.3

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: domain_email; Type: DOMAIN; Schema: public; Owner: postgres
--

CREATE DOMAIN public.domain_email AS text
	CONSTRAINT domain_email_check CHECK ((VALUE ~ '^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,}$'::text));


ALTER DOMAIN public.domain_email OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: mal_user; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.mal_user (
    id character varying(15) NOT NULL,
    mal_time timestamp without time zone
);


ALTER TABLE public.mal_user OWNER TO postgres;

--
-- Name: movies; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.movies (
    id integer NOT NULL,
    title character varying(30) NOT NULL,
    director character varying(30) NOT NULL,
    genre character varying(20) NOT NULL,
    rel_date date NOT NULL,
    poster_url text,
    poster text,
    trailer_url text,
    CONSTRAINT movies_genre_check CHECK (((genre)::text = ANY (ARRAY[('action'::character varying)::text, ('comedy'::character varying)::text, ('drama'::character varying)::text, ('fantasy'::character varying)::text, ('horror'::character varying)::text, ('mystery'::character varying)::text, ('romance'::character varying)::text, ('thriller'::character varying)::text, ('western'::character varying)::text])))
);


ALTER TABLE public.movies OWNER TO postgres;

--
-- Name: movies_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.movies ALTER COLUMN id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.movies_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: reviews; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.reviews (
    mid integer NOT NULL,
    uid character varying(15) NOT NULL,
    ratings smallint NOT NULL,
    review text NOT NULL,
    rev_time timestamp without time zone NOT NULL,
    CONSTRAINT reviews_ratings_check CHECK (((ratings >= 0) AND (ratings <= 5)))
);


ALTER TABLE public.reviews OWNER TO postgres;

--
-- Name: ties; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ties (
    id character varying(15) NOT NULL,
    opid character varying(15) NOT NULL,
    tie character varying(8) NOT NULL,
    CONSTRAINT ties_tie_check CHECK (((tie)::text = ANY (ARRAY[('follow'::character varying)::text, ('mute'::character varying)::text])))
);


ALTER TABLE public.ties OWNER TO postgres;

--
-- Name: user_info; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_info (
    id character varying(15) NOT NULL,
    name character varying(15),
    email public.domain_email,
    reg_date date NOT NULL,
    avatar text
);


ALTER TABLE public.user_info OWNER TO postgres;

--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id character varying(15) NOT NULL,
    password text NOT NULL,
    role character varying(10) NOT NULL,
    CONSTRAINT users_role_check CHECK (((role)::text = ANY (ARRAY[('admin'::character varying)::text, ('user'::character varying)::text])))
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Data for Name: mal_user; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.mal_user (id, mal_time) FROM stdin;
\.


--
-- Data for Name: movies; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: reviews; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: ties; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.ties (id, opid, tie) FROM stdin;
andy	lisa	follow
lisa	andy	follow
cai	aliff	follow
lisa	aliff	follow
aliff	andy	follow
khuzairi	andy	follow
khuzairi	lisa	mute
khuzairi	aliff	follow
aliff	cai	follow
aliff	lisa	mute
aliff	khuzairi	mute
\.


--
-- Data for Name: user_info; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.user_info (id, name, email, reg_date, avatar) FROM stdin;
admin2	admin2	admin2@korea.ac.kr	2026-04-24	\N
cai	Caii	cai@mail.com	2026-04-26	\N
admin	admin	admin@korea.ac.kr	2026-04-24	\N
andy	Andy Mercury	andym@mail.com	2026-04-24	\N
lisa	Lisa Blackpink	lisabp@mail.com	2026-04-24	\N
khuzairi	Khuzairi	khuzairi@mail.com	2026-04-26	\N
aliff	Aliff Khuzairi	aliffkhuzairi07@gmail.com	2026-04-24	aliff_e92aeaaed4774446a7c65b7e255bd558.jpg
delete	\N	\N	2026-05-10	\N
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: movies_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.movies_id_seq', 38, true);


--
-- Name: mal_user mal_user_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.mal_user
    ADD CONSTRAINT mal_user_pkey PRIMARY KEY (id);


--
-- Name: movies movies_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.movies
    ADD CONSTRAINT movies_pkey PRIMARY KEY (id);


--
-- Name: reviews reviews_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reviews
    ADD CONSTRAINT reviews_pkey PRIMARY KEY (mid, uid);


--
-- Name: ties ties_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ties
    ADD CONSTRAINT ties_pkey PRIMARY KEY (id, opid);


--
-- Name: movies unique_movie; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.movies
    ADD CONSTRAINT unique_movie UNIQUE (title, rel_date);


--
-- Name: user_info user_info_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_info
    ADD CONSTRAINT user_info_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: mal_user mal_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.mal_user
    ADD CONSTRAINT mal_user_id_fkey FOREIGN KEY (id) REFERENCES public.users(id);


--
-- Name: reviews reviews_mid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reviews
    ADD CONSTRAINT reviews_mid_fkey FOREIGN KEY (mid) REFERENCES public.movies(id) ON DELETE CASCADE;


--
-- Name: reviews reviews_uid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reviews
    ADD CONSTRAINT reviews_uid_fkey FOREIGN KEY (uid) REFERENCES public.users(id);


--
-- Name: ties ties_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ties
    ADD CONSTRAINT ties_id_fkey FOREIGN KEY (id) REFERENCES public.users(id);


--
-- Name: ties ties_opid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ties
    ADD CONSTRAINT ties_opid_fkey FOREIGN KEY (opid) REFERENCES public.users(id);


--
-- Name: user_info user_info_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_info
    ADD CONSTRAINT user_info_id_fkey FOREIGN KEY (id) REFERENCES public.users(id);


--
-- PostgreSQL database dump complete
--

\unrestrict jHLbvyxPcfbAPyDWBTwHrfYp7E6g2bfpaLFYL1EPJppN6IMZjzQDRqpsrm5eMS5

