<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, intitial-scale=1.0" />
    <title>Movies</title>
</head>
<body>
    <p>Logged in as: {{ user_id }}</p>
    <a href="{{ url_for('logout') }}">Logout</a>

    <h1>Movie List</h1>
    <a href="{{ url_for('home', movie_sort='latest', review_sort=request.args.get('review_sort', 'latest')) }}">Latest</a>
    <a href="{{ url_for('home', movie_sort='genre', review_sort=request.args.get('review_sort', 'latest')) }}">Genre</a>
    <table border="1">
        <tr>
            <th>Title</th>
            <th>Director</th>
            <th>Genre</th>
            <th>Release Date</th>
        </tr>

        {% for movie in movies %}
        <tr>
            <td><a href="{{ url_for('movie_detail', movie_id=movie[0]) }}">{{ movie[1] }}</a></td>
            <td>{{ movie[2] }}</td>
            <td>{{ movie[3] }}</td>
            <td>{{ movie[4] }}</td>

        </tr>
        {% endfor %}
    </table>

    <h1>Reviews</h1>
    <a href="{{ url_for('home', movie_sort=request.args.get('movie_sort', 'latest'), review_sort='latest') }}">Latest</a>
    <a href="{{ url_for('home', movie_sort=request.args.get('movie_sort', 'latest'), review_sort='title') }}">Title</a>
    <table border="1">
        <tr>
            <th>Rating</th>
            <th>User</th>
            <th>Movie</th>
            <th>Review</th>
            <th>Time</th>
        </tr>

        {% for review in reviews %}
        <tr>
            <td>{{ review[0] }}</td>
            <td><a href="{{ url_for('user_detail', user_id=review[1]) }}">{{ review[1] }}</a></td>
            <td>{{ review[2] }}</td>
            <td>{{ review[3] }}</td>
            <td>{{ review[4] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>