{% macro render_stars(rating) %}
    {% set rating = rating|int %}

    <span class="stars">
        {% for i in range(rating) %}
            <i class="fa-solid fa-star"></i>
        {% endfor %}

        {% for i in range(5 - rating) %}
            <i class="fa-regular fa-star"></i>
        {% endfor %}
    </span>
{% endmacro %}

{% macro render_avatar(user_id, name=None, avatar=None, size='md') %}
    <div class="profile-avatar avatar-{{ size }}">
        {% if avatar %}
            <img src="{{ url_for('static', filename='uploads/avatars/' ~ avatar) }}"
                 alt="{{ user_id }} avatar">
        {% else %}
            <i class="fa-solid fa-user"></i>
        {% endif %}
    </div>
{% endmacro %}