{% macro render_stars(rating) %}
    {% set rating = rating|int %}

    <span class="stars">
        {% for i in range(rating) %}
            <i class="fa-solid fa-star"></i>
        {% endfor %}

        {% for i in range(5 - rating) %}
            <i class="fa-regular fa-star"></i>
        {% endfor %}
    </span>
{% endmacro %}

{% macro render_avatar(user_id, name=None, avatar=None, size='md') %}
    <div class="profile-avatar avatar-{{ size }}">
        {% if avatar %}
            {% if avatar.startswith('http') %}
                <img src="{{ avatar }}" alt="{{ user_id }} avatar">
            {% else %}
                <img src="{{ url_for('static', filename='uploads/avatars/' ~ avatar) }}"
                     alt="{{ user_id }} avatar">
            {% endif %}
        {% else %}
            <i class="fa-solid fa-user"></i>
        {% endif %}
    </div>
{% endmacro %}

{% macro render_poster(poster, poster_url, alt='', css_class='', fallback_class='') %}
    {% if poster %}
        {% if poster.startswith('http') %}
            <img src="{{ poster }}"
                 alt="{{ alt }}"{% if css_class %} class="{{ css_class }}"{% endif %}>
        {% else %}
            <img src="{{ url_for('static', filename='uploads/posters/' ~ poster) }}"
                 alt="{{ alt }}"{% if css_class %} class="{{ css_class }}"{% endif %}>
        {% endif %}
    {% elif poster_url %}
        <img src="{{ poster_url }}"
             alt="{{ alt }}"{% if css_class %} class="{{ css_class }}"{% endif %}>
    {% elif fallback_class %}
        <div class="{{ fallback_class }}"></div>
    {% endif %}
{% endmacro %}