<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movie List</title>
</head>
<body>
    <!-- HEADER -->
    <header class="header">
        <div class="header-wrap">
            <div>
                <strong>{{ user_id }}</strong>
            </div>
            <div class="button-row">
                <a class="button-link primary" href="{{ url_for('user_detail', user_id=user_id) }}">Profile</a>
                <a class="button-link logout" href="{{ url_for('logout') }}">Logout</a>
            </div>
        </div>
    </header>

    <main class="page-container">
        
    </main>
</body>
</html>