<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Search</title>
</head>
<body>

    <!-- HEADER -->
    {% include "partials/header.html" %}

    <main class="page-container">
        <section class="search-result-page">

            <div class="section-head search-head">

                {% if query %}
                    <div class="button-row search-tabs">
                        <a class="button-link {{ 'primary' if result_type == 'all' else 'secondary' }}"
                           href="{{ url_for('search.global_search', q=query, type='all') }}">
                            All
                        </a>
                        <a class="button-link {{ 'primary' if result_type == 'movies' else 'secondary' }}"
                           href="{{ url_for('search.global_search', q=query, type='movies') }}">
                            Movies
                        </a>
                        <a class="button-link {{ 'primary' if result_type == 'people' else 'secondary' }}"
                           href="{{ url_for('search.global_search', q=query, type='people') }}">
                            People
                        </a>
                    </div>
                {% endif %}
                
                {% if query %}
                    <p class="small-text">Results for "{{ query }}"</p>
                {% else %}
                    <p class="small-text">Search movies or users</p>
                {% endif %}
            </div>

            {% if query %}
            <div class="search-result-grid {{ 'single-result-grid' if result_type != 'all' else '' }}">

                {% if query and result_type in ['all','movies'] %}
                <!-- MOVIES RESULT -->
                <div class="section-card search-result-card">
                    <h2>Movies{% if query %} ({{ movies|length }}){% endif %}</h2>

                    {% if movies %}
                    <div class="search-result-list">
                        {% for movie in movies %}
                            <a class="search-result-item movie-search-item"
                               href="{{ url_for('movie.movie_detail', movie_id=movie[0]) }}">

                                <div class="search-result-main">
                                    <div class="search-result-title-row">
                                        <h3 class="search-result-title">{{ movie[1] }}</h3>
                                        <span class="genre-tag search-genre">{{ movie[3] }}</span>
                                    </div>

                                    <p class="small-text search-result-meta">
                                        {{ movie[2] }}
                                    </p>
                                    <p class="small-text search-result-meta">
                                        {{ movie[4].strftime('%d %b %Y') if movie[4] else '' }}
                                    </p>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                    {% else %}
                        <p class="small-text">No movies found.</p>
                    {% endif %}
                </div>
                {% endif %}

                {% if query and result_type in ['all','people'] %}
                <!-- USERS RESULT -->
                <div class="section-card search-result-card">
                    <h2>People{% if query %} ({{ users|length }}){% endif %}</h2>

                    {% if users %}
                    <div class="search-result-list">
                        {% for user in users %}
                            <a class="search-result-item user-search-item"
                               href="{{ url_for('user.user_detail', user_id=user[0] ) }}">
                                <div class="user-tag">
                                    <h3>{{ user[0] }}</h3>
                                    <p class="small-text">{{ user[2] if user[2] else '' }}</p>
                                </div>

                                {% if session["user_role"] == "admin" %}
                                    <span class="role-tag">{{ user[1] }}</span>
                                {% endif %}
                            </a>
                        {% endfor %}
                    </div>
                    {% else %}
                        <p class="small-text not-found">No users found.</p>
                    {% endif %}
                </div>
                {% endif %}
            </div>
            {% endif %}
        </section>

    </main>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>