<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, intitial-scale=1.0" />
    <title>Title</title>
</head>
<body>
    <p>Logged in as: {{ user_id }}</p>
    <a href="{{ url_for('logout') }}">Logout</a>
    <a href="{{ url_for('home') }}">Home</a>

    <h1>{{ user_info[0] }}</h1>

    <table border="1">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Registration Date</th>
        </tr>

        <tr>
            <td>{{ user_info[0] }}</td>
            <td>{{ user_info[1] }}</td>

            {% if is_self %}
            <td>{{ user_info[2] }}</td>
            {% else %}
            <td>Private</td>
            {% endif %}

            <td>{{ user_info[3] }}</td>
        </tr>

    </table>

    <h1>Reviews</h1>

    <h2>Reviews</h2>
    <table border="1">
        <tr>
            <th>Movie</th>
            <th>Ratings</th>
            <th>Review</th>
            <th>Review Time</th>
        </tr>

        {% for review in user_review %}
        <tr>
            <td>{{ review[0] }}</td>
            <td>{{ review[1] }}</td>
            <td>{{ review[2] }}</td>
            <td>{{ review[3] }}</td>
        </tr>

        {% endfor %}
    </table>

    {% if not is_self %}
    <p>Current relationship: {{ relationship if relationship else 'none' }}</p>

    {% if relationship == 'follow' %}
    <form action="{{ url_for('unfollow_user', target_user_id=user_info[0]) }}" method="POST" style="display:inline;">
        <button type="submit">Unfollow</button>
    </form>

    <form action="{{ url_for('mute_user', target_user_id=user_info[0]) }}" method="POST" style="display:inline;">
        <button type="submit">Mute</button>
    </form>
    {% elif relationship == 'mute' %}
    <form action="{{ url_for('follow_user', target_user_id=user_info[0]) }}" method="POST" style="display:inline;">
        <button type="submit">Follow</button>
    </form>

    <form action="{{ url_for('unmute_user', target_user_id=user_info[0]) }}" method="POST" style="display:inline;">
        <button type="submit">Unmute</button>
    </form>

    {% else %}
    <form action="{{ url_for('follow_user', target_user_id=user_info[0]) }}" method="POST" style="display:inline;">
        <button type="submit">Follow</button>
    </form>

    <form action="{{ url_for('mute_user', target_user_id=user_info[0]) }}" method="POST" style="display:inline;">
        <button type="submit">Mute</button>
    </form>
{% endif %}


</body>
</html>