<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, intitial-scale=1.0" />
    <title>Title</title>
</head>
<body>
    <p>Logged in as: {{ user_id }}</p>
    <a href="{{ url_for('logout') }}">Logout</a>
    <a href="{{ url_for('home') }}">Home</a>

    <h1>{{ user_info[0] }}</h1>

    <table border="1">
        <tr>
            <th>ID</th>

            {% if session['user_role'] == 'admin' %}
                <th>Role</th>
            {% endif %}

            <th>Name</th>
            <th>Email</th>
            <th>Registration Date</th>
        </tr>

        <tr>
            <td>{{ user_info[0] }}</td>
            {% if session['user_role'] == 'admin' %}
                <td>{{ user_info[1] }}</td>
            {% endif %}
            <td>{{ user_info[2] }}</td>

            {% if is_self %}
                <td>{{ user_info[3] }}</td>
            {% else %}
                <td>Private</td>
            {% endif %}

            <td>{{ user_info[4] }}</td>
        </tr>

    </table>

    <h1>Reviews</h1>

    <h2>Reviews</h2>
    <table border="1">
        <tr>
            <th>Movie</th>
            <th>Ratings</th>
            <th>Review</th>
            <th>Review Time</th>
        </tr>

        {% for review in user_reviews %}
        <tr>
            <td>{{ review[0] }}</td>
            <td>{{ review[1] }}</td>
            <td>{{ review[2] }}</td>
            <td>{{ review[3] }}</td>
        </tr>

        {% endfor %}
    </table>

    {% if not is_self and not is_admin_profile and not is_current_user_admin %}
    <p>Current relationship: {{ relationship if relationship else 'none' }}</p>

        {% if relationship == 'follow' %}
        <form action="{{ url_for('unfollow_user', target_user_id=user_info[0]) }}" method="POST" style="display:inline;">
            <button type="submit">Unfollow</button>
        </form>

        <form action="{{ url_for('mute_user', target_user_id=user_info[0]) }}" method="POST" style="display:inline;">
            <button type="submit">Mute</button>
        </form>

        {% elif relationship == 'mute' %}
        <form action="{{ url_for('follow_user', target_user_id=user_info[0]) }}" method="POST" style="display:inline;">
            <button type="submit">Follow</button>
        </form>

        <form action="{{ url_for('unmute_user', target_user_id=user_info[0]) }}" method="POST" style="display:inline;">
            <button type="submit">Unmute</button>
        </form>

        {% else %}
        <form action="{{ url_for('follow_user', target_user_id=user_info[0]) }}" method="POST" style="display:inline;">
            <button type="submit">Follow</button>
        </form>

        <form action="{{ url_for('mute_user', target_user_id=user_info[0]) }}" method="POST" style="display:inline;">
            <button type="submit">Mute</button>
        </form>
        {% endif %}
    {% endif %}

    {% if is_self %}
    <h2>Followed Users</h2>
        {% if followed_users %}
        <ul>
            {% for followed in followed_users %}
            <li>
                <a href="{{ url_for('user_detail', user_id=followed[0]) }}">{{ followed[0] }}</a>
                {% if followed[1] %}
                    - {{ followed[1] }}
                {% endif %}
            </li>
            {% endfor %}
        </ul>

        {% else %}
        <p>No followed users</p>
        {% endif %}

        <h2>Muted Users</h2>
        {% if muted_users %}
        <ul>
            {% for muted in muted_users %}
            <li>
                 <a href="{{ url_for('user_detail', user_id=muted[0]) }}">{{ muted[0] }}</a>
                {% if muted[1] %}
                    - {{ muted[1] }}
                {% endif %}
            </li>
            {% endfor %}
        </ul>

        {% else %}
        <p>No muted users</p>
        {% endif %}

    <h2>Edit Profile</h2>
    <form action="{{ url_for('edit_user_profile', user_id=user_info[0]) }}" method="POST">
        <label for="name">Name: </label>
        <input id="name" name="name" type="text" value="{{ user_info[2] if user_info[2] else '' }}" required>
        <br><br>

        <label for="email">Email: </label>
        <input id="email" name="email" type="email" value="{{ user_info[3] if user_info[3] else '' }}" required>
        <br><br>

        <button type="submit">Update Profile</button>
    </form>
    {% endif %}
</body>
</html>